.menu-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(161, 161, 161, 0.66);

  .link {
    margin-right: 6px;
    color: white;
    font-weight: bold;
  }
}

.leaflet-container {
  height: 100vh;
}